RewriteEngine on
RewriteRule ^/Syndication.axd$ /feed.xml [R=301,NC]
RewriteRule ^["/2010/10/08/silverlight-4-data-binding-to-dynamic-datacontext/"]$ /post/2010/10/08/silverlight-4-data-binding-to-dynamic-datacontext.html [R=301,NC]
RewriteRule ^["/2011/02/15/console-application-visual-studio-gotcha-on-x64-os/"]$ /post/2011/02/15/console-application-visual-studio-gotcha-on-x64-os.html [R=301,NC]
RewriteRule ^["/2011/03/31/upgrading-nugetexe-to-v12-aspx/"]$ /post/2011/03/31/upgrading-nugetexe-to-v12-aspx.html [R=301,NC]
RewriteRule ^["/2011/04/29/what-you-should-know-before-speaking-at-a-belgian-tech-conference/"]$ /post/2011/04/29/what-you-should-know-before-speaking-at-a-belgian-tech-conference.html [R=301,NC]
RewriteRule ^["/2011/05/30/nuget-package-filename-mismatch-between-gallery-and-server-aspx/"]$ /post/2011/05/30/nuget-package-filename-mismatch-between-gallery-and-server-aspx.html [R=301,NC]
RewriteRule ^["/2011/05/31/announcing-myget/"]$ /post/2011/05/31/announcing-myget.html [R=301,NC]
RewriteRule ^["/2011/06/09/get-your-local-nuget-repository-online-in-a-private-myget-feed/"]$ /post/2011/06/09/get-your-local-nuget-repository-online-in-a-private-myget-feed.html [R=301,NC]
RewriteRule ^["/2011/06/15/adding-nuget-packages-from-the-official-feed-to-your-myget-feed-some-improvements/"]$ /post/2011/06/15/adding-nuget-packages-from-the-official-feed-to-your-myget-feed-some-improvements.html [R=301,NC]
RewriteRule ^["/2011/06/15/myget-now-compatible-with-nuget-package-explorer-v15/"]$ /post/2011/06/15/myget-now-compatible-with-nuget-package-explorer-v15.html [R=301,NC]
RewriteRule ^["/2011/06/22/silverlight-advanced-tooltips-v220-released/"]$ /post/2011/06/22/silverlight-advanced-tooltips-v220-released.html [R=301,NC]
RewriteRule ^["/2011/07/06/nuget-package-explorer-extension-open-dlls-with-ilspy/"]$ /post/2011/07/06/nuget-package-explorer-extension-open-dlls-with-ilspy.html [R=301,NC]
RewriteRule ^["/2011/07/12/3-simple-steps-to-publish-a-nupkg-to-myget-using-nuget-package-explorer-16/"]$ /post/2011/07/12/3-simple-steps-to-publish-a-nupkg-to-myget-using-nuget-package-explorer-16.html [R=301,NC]
RewriteRule ^["/2011/07/18/continuous-package-integration-nuget-vs-source-control/"]$ /post/2011/07/18/continuous-package-integration-nuget-vs-source-control.html [R=301,NC]
RewriteRule ^["/2011/09/09/a-word-on-using-and-abusing-nuget/"]$ /post/2011/09/09/a-word-on-using-and-abusing-nuget.html [R=301,NC]
RewriteRule ^["/2011/09/30/an-overview-of-the-nuget-ecosystem/"]$ /post/2011/09/30/an-overview-of-the-nuget-ecosystem.html [R=301,NC]
RewriteRule ^["/2011/10/06/generate-package-dependency-matrix-directly-from-tfs-source-control-aspx/"]$ /post/2011/10/06/generate-package-dependency-matrix-directly-from-tfs-source-control-aspx.html [R=301,NC]
RewriteRule ^["/2011/10/07/nuget-analyze-now-available-as-command-line-extension-aspx/"]$ /post/2011/10/07/nuget-analyze-now-available-as-command-line-extension-aspx.html [R=301,NC]
RewriteRule ^["/2011/10/10/agile-net-2011-europe-slidedeck-aspx/"]$ /post/2011/10/10/agile-net-2011-europe-slidedeck-aspx.html [R=301,NC]
RewriteRule ^["/2011/10/17/tell-tfs-not-to-add-nuget-packages-to-source-control/"]$ /post/2011/10/17/tell-tfs-not-to-add-nuget-packages-to-source-control.html [R=301,NC]
RewriteRule ^["/2011/10/20/install-nuget-command-line-extensions-using-the-package-manager-console-aspx/"]$ /post/2011/10/20/install-nuget-command-line-extensions-using-the-package-manager-console-aspx.html [R=301,NC]
RewriteRule ^["/2011/11/16/why-everyone-should-be-using-a-symbol-server/"]$ /post/2011/11/16/why-everyone-should-be-using-a-symbol-server.html [R=301,NC]
RewriteRule ^["/2011/11/13/gently-phase-out-support-for-older-nuget-packages-with-myget-aspx/"]$ /post/2011/11/13/gently-phase-out-support-for-older-nuget-packages-with-myget-aspx.html [R=301,NC]
RewriteRule ^["/2012/01/23/slides-for-ugialtnet-nuget-aspx/"]$ /post/2012/01/23/slides-for-ugialtnet-nuget-aspx.html [R=301,NC]
RewriteRule ^["/2012/02/10/meet-the-community-at-techdays-belgium-2012-aspx/"]$ /post/2012/02/10/meet-the-community-at-techdays-belgium-2012-aspx.html [R=301,NC]
RewriteRule ^["/2012/02/10/resharper-plug-in-minify-xml-aspx/"]$ /post/2012/02/10/resharper-plug-in-minify-xml-aspx.html [R=301,NC]
RewriteRule ^["/2012/03/01/myget-tops-vanilla-nuget-feeds-with-a-chocolatey-flavor/"]$ /post/2012/03/01/myget-tops-vanilla-nuget-feeds-with-a-chocolatey-flavor.html [R=301,NC]
RewriteRule ^["/2012/03/08/hidden-gem-the-nuget-package-manifest-xsd/"]$ /post/2012/03/08/hidden-gem-the-nuget-package-manifest-xsd.html [R=301,NC]
RewriteRule ^["/2012/03/09/how-to-help-yourself-when-nuget-goes-down/"]$ /post/2012/03/09/how-to-help-yourself-when-nuget-goes-down.html [R=301,NC]
RewriteRule ^["/2012/04/14/generated-assemblyversion-for-nuget-package-on-tfs-build/"]$ /post/2012/04/14/generated-assemblyversion-for-nuget-package-on-tfs-build.html [R=301,NC]
RewriteRule ^["/2012/04/18/distributing-resharper-live-templates-using-nuget/"]$ /post/2012/04/18/distributing-resharper-live-templates-using-nuget.html [R=301,NC]
RewriteRule ^["/2012/04/26/nuget-version-token-explained/"]$ /post/2012/04/26/nuget-version-token-explained.html [R=301,NC]
RewriteRule ^["/2012/04/27/install-package-nuspec-aspx/"]$ /post/2012/04/27/install-package-nuspec-aspx.html [R=301,NC]
RewriteRule ^["/2012/05/06/create-auto-build-and-push-a-nuget-package-anywhere-aspx/"]$ /post/2012/05/06/create-auto-build-and-push-a-nuget-package-anywhere-aspx.html [R=301,NC]
RewriteRule ^["/2012/05/08/slides-code-of-msdn-live-meeting-ci-using-tfs11-nuget-aspx/"]$ /post/2012/05/08/slides-code-of-msdn-live-meeting-ci-using-tfs11-nuget-aspx.html [R=301,NC]
RewriteRule ^["/2012/06/01/u-no-like-vs2012-shouting-menus-aspx/"]$ /post/2012/06/01/u-no-like-vs2012-shouting-menus-aspx.html [R=301,NC]
RewriteRule ^["/2012/06/04/installing-commands-into-the-nuget-powershell-profile/"]$ /post/2012/06/04/installing-commands-into-the-nuget-powershell-profile.html [R=301,NC]
RewriteRule ^["/2012/06/08/distributing-net-licensed-components-using-nuget-aspx/"]$ /post/2012/06/08/distributing-net-licensed-components-using-nuget-aspx.html [R=301,NC]
RewriteRule ^["/2012/08/07/setting-up-your-own-symbolsource-server-step-by-step/"]$ /post/2012/08/07/setting-up-your-own-symbolsource-server-step-by-step.html [R=301,NC]
RewriteRule ^["/2012/08/21/debugging-nuget-package-restore/"]$ /post/2012/08/21/debugging-nuget-package-restore.html [R=301,NC]
RewriteRule ^["/2012/10/25/nuget-tfs-preview-a-challenging-combination/"]$ /post/2012/10/25/nuget-tfs-preview-a-challenging-combination.html [R=301,NC]
RewriteRule ^["/2012/10/27/community/"]$ /post/2012/10/27/community.html [R=301,NC]
RewriteRule ^["/2012/11/24/update-project-template-to-latest-nuget-packages/"]$ /post/2012/11/24/update-project-template-to-latest-nuget-packages.html [R=301,NC]
RewriteRule ^["/2012/12/12/nuget-package-restore-from-a-secured-feed/"]$ /post/2012/12/12/nuget-package-restore-from-a-secured-feed.html [R=301,NC]
RewriteRule ^["/2012/12/13/nuget-package-restore-using-solution-specific/"]$ /post/2012/12/13/nuget-package-restore-using-solution-specific.html [R=301,NC]
RewriteRule ^["/2013/01/03/exit-2012-enter-2013/"]$ /post/2013/01/03/exit-2012-enter-2013.html [R=301,NC]
RewriteRule ^["/2013/01/14/team-foundation-services-binaries-folder/"]$ /post/2013/01/14/team-foundation-services-binaries-folder.html [R=301,NC]
RewriteRule ^["/2013/01/17/warm-crocodile-conference-slides/"]$ /post/2013/01/17/warm-crocodile-conference-slides.html [R=301,NC]
RewriteRule ^["/2013/01/31/nuget-package-analysis-encouraging-semantic-versioning/"]$ /post/2013/01/31/nuget-package-analysis-encouraging-semantic-versioning.html [R=301,NC]
RewriteRule ^["/2013/03/18/introducing-a-nuget-exe-extension-for-package-source-discovery/"]$ /post/2013/03/18/introducing-a-nuget-exe-extension-for-package-source-discovery.html [R=301,NC]
RewriteRule ^["/2013/03/24/deploying-to-azure-web-sites-using-nuget-package-restore-from-a-secured-feed/"]$ /post/2013/03/24/deploying-to-azure-web-sites-using-nuget-package-restore-from-a-secured-feed.html [R=301,NC]
RewriteRule ^["/2013/04/30/a-resharper-plugin-to-detect-suspicious-semicolons-in-razor-views/"]$ /post/2013/04/30/a-resharper-plugin-to-detect-suspicious-semicolons-in-razor-views.html [R=301,NC]
RewriteRule ^["/2013/04/29/semantic-versioning-auto-incremented-nuget-package-versions/"]$ /post/2013/04/29/semantic-versioning-auto-incremented-nuget-package-versions.html [R=301,NC]
RewriteRule ^["/2013/05/10/commit-push-consume-continuous-delivery-of-resharper-extensions/"]$ /post/2013/05/10/commit-push-consume-continuous-delivery-of-resharper-extensions.html [R=301,NC]
RewriteRule ^["/2013/07/23/how-to-nuget-package-restore-when-sharing-projects-between-solutions/"]$ /post/2013/07/23/how-to-nuget-package-restore-when-sharing-projects-between-solutions.html [R=301,NC]
RewriteRule ^["/2013/09/26/install-nuspec-with-intellisense/"]$ /post/2013/09/26/install-nuspec-with-intellisense.html [R=301,NC]
RewriteRule ^["/2013/10/02/awarded-mvp-visual-studio-alm/"]$ /post/2013/10/02/awarded-mvp-visual-studio-alm.html [R=301,NC]
RewriteRule ^["/2014/03/06/migrate-away-from-msbuild-based-nuget-package-restore/"]$ /post/2014/03/06/migrate-away-from-msbuild-based-nuget-package-restore.html [R=301,NC]
RewriteRule ^["/2014/03/24/semantic-versioning-state-your-intentions-please/"]$ /post/2014/03/24/semantic-versioning-state-your-intentions-please.html [R=301,NC]
RewriteRule ^["/2014/04/17/using-myget-as-a-oneget-package-source/"]$ /post/2014/04/17/using-myget-as-a-oneget-package-source.html [R=301,NC]
RewriteRule ^["/2014/11/17/deploying-the-asp-net-beta1-kruntime-to-azure-websites/"]$ /post/2014/11/17/deploying-the-asp-net-beta1-kruntime-to-azure-websites.html [R=301,NC]
RewriteRule ^["/2015/01/27/joining-microsoft/"]$ /post/2015/01/27/joining-microsoft.html [R=301,NC]
RewriteRule ^["/semantic-versioning-auto-incremented-nuget-package-versions"]$ /post/2013/04/29/semantic-versioning-auto-incremented-nuget-package-versions.html [R=301,NC]
